<footer class="relative mt-20 bg-gray-900 px-4 pt-14">
    <div class="absolute -top-10 left-1/2 h-16 w-16 -translate-x-1/2 rounded-xl border-4 border-sky-500 bg-white p-2"><img class="h-full object-contain" src="{{ asset('images/logo.png') }}" alt="" /></div>
    <nav aria-label="Footer Navigation" class="mx-auto mb-1 flex max-w-lg flex-col gap-x-12 gap-y-2 text-center sm:flex-row sm:text-center">
        <a href="/" class="font-medium text-white underline decoration-transparent transition duration-300 ease-in-out hover:decoration-inherit rounded">Home</a>
        <a href="/popular" class="font-medium text-white underline decoration-transparent transition duration-300 ease-in-out hover:decoration-inherit rounded">Popular</a>
        <a href="/top-rated" class="font-medium text-white underline decoration-transparent transition duration-300 ease-in-out hover:decoration-inherit rounded">Top Rated</a>
        <a href="/upcoming" class="font-medium text-white underline decoration-transparent transition duration-300 ease-in-out hover:decoration-inherit rounded">Upcoming</a>
        <a href="/contact" class="font-medium text-white underline decoration-transparent transition duration-300 ease-in-out hover:decoration-inherit rounded">Contact Us</a>
    </nav>
    <p class="py-5 text-center text-gray-300">© {{ 'now' | date('Y') }} Marius Sandulache | All Rights Reserved</p>
</footer>