{% extends 'base.html.twig' %}

{% block title %}
    eTicket - Contact
{% endblock %}

{% block body %}
    <div class="relative h-screen lg:h-24 w-full bg-cover bg-no-repeat bg-red-900" >

        {{ include('common/_header.html.twig') }}

        <section class="relative py-6 bg-white bg-gray-200 min-w-screen animation-fade animation-delay">
            <div class="container h-full max-w-5xl mx-auto overflow-hidden rounded-lg shadow">
                <div class="h-full sm:flex">
                    <aside class="w-full p-10 rounded-none sm:rounded md:w-1/3 sm:bg-gray-100">
                        <h2 class="text-2xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">Contact Us</h2>
                        <p class="mt-2 mb-5 text-sm text-gray-600">You can find our contact info below or you can feel free to leave us a quick message in the form.</p>
                        <div class="flex items-start py-3 pt-5">
                            <div class="flex-shrink">
                                <svg class="w-8 h-8 mt-1 text-gray-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow ml-10 md:ml-5">
                                <div class="text-base font-medium mb-">Phone</div>
                                <span class="text-gray-500 text-md">+123-456-7890</span>
                            </div>
                        </div>
                        <div class="flex items-start py-3">
                            <div class="flex-shrink">
                                <svg class="w-8 h-8 text-gray-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="flex-grow ml-10 md:ml-5">
                                <div class="text-base font-medium">Address</div>
                                <span class="text-gray-500 text-md">Drumul Binelui, nr. 31, Bucharest</span>
                            </div>
                        </div>
                    </aside>
                    <div class="flex items-center justify-center w-full p-10 bg-white md:w-2/3">
                        <form class="w-full" onsubmit="return false">
                            <div class="pb-3">
                                <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline" type="text" placeholder="Email Address" name="email" value="" />
                            </div>
                            <div class="py-3">
                                <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline" type="text" placeholder="Subject" name="subject" value="" />
                            </div>
                            <div class="py-3">
                                <textarea row="4" class="w-full h-40 px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline" name="message" placeholder="Your message here..."></textarea>
                            </div>
                            <div class="pt-3">
                                <button class="flex px-6 py-3 text-white bg-indigo-500 rounded-md hover:bg-indigo-600 hover:text-white focus:outline-none focus:shadow-outline focus:border-indigo-300" type="submit">
                                    <svg class="self-center h-4 fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="brz-icon-svg brz-css-mexoi brz-css-rstqv" data-type="glyph" data-name="email-83">
                                <g fill="currentColor">
                                    <path data-color="color-2" fill="currentColor" d="M23,2H1C0.4,2,0,2.4,0,3v3c0,0.4,0.2,0.7,0.5,0.9l11,6C11.7,13,11.8,13,12,13s0.3,0,0.5-0.1 l11-6C23.8,6.7,24,6.4,24,6V3C24,2.4,23.6,2,23,2z"></path>
                                    <path fill="currentColor" d="M13.4,14.6C13,14.9,12.5,15,12,15s-1-0.1-1.4-0.4L0,8.9V21c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V8.9 L13.4,14.6z"></path>
                                </g>
                            </svg>
                                    <span class="self-center float-left ml-3 text-base font-medium">Submit Message</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {{ include('common/_footer.html.twig') }}

    </div>
{% endblock %}