{% extends 'base.html.twig' %}

{% block title %}
    eTicket - Login
{% endblock %}

{% block body %}
    <div class="relative h-screen lg:h-24 w-full bg-cover bg-no-repeat bg-red-900" >

        {{ include('common/_header.html.twig') }}

        <section id="top-rated">

            <h1 class="mb-12 mt-16 text-center font-sans text-5xl font-bold">Top rated movies</h1>
            <div class="mx-auto grid max-w-screen-lg justify-center px-4 sm:grid-cols-2 sm:gap-4 sm:px-8 md:grid-cols-3">

                {% for movie in movies %}
                    {% include 'common/_movie_card.html.twig' with movie %}
                {% endfor %}

            </div>
        </section>

        {{ include('common/_footer.html.twig') }}

    </div>
{% endblock %}